@model  DXC_Project.Models.QuestionsContext

@{
    int count = 0;
}
<h3 class="text-center">Section-II Technical</h3>

@if (true)
{
    foreach (var item in Model.Questions_java)
    {

        <div class="col-lg-10">

            <span><b>@(++count)</b></span><span>.</span>&nbsp;@Html.DisplayFor(modelItem => item.java_ques)
            <br /><br />

            @Html.RadioButton(item.java_ans, item.java_opt_1)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_1)
            <br />
            @Html.RadioButton(item.java_ans, item.java_opt_2)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_2)
            <br />
            @Html.RadioButton(item.java_ans, item.java_opt_3)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_3)
            <br />
            @Html.RadioButton(item.java_ans, item.java_opt_4)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_4)
            <br />
            @Html.RadioButton(item.java_ans, "Not Attempted", new { @style = "visibility:hidden", @checked = "checked" })
            <br />


        </div>
    }
}
@if (true)
{
     foreach (var item in Model.Questions_python)
     {

        <div class="col-lg-10">

            <span><b>@(++count)</b></span><span>.</span>&nbsp;@Html.DisplayFor(modelItem => item.java_ques)
            <br /><br />

            @Html.RadioButton(item.java_ans, item.java_opt_1)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_1)
            <br />
            @Html.RadioButton(item.java_ans, item.java_opt_2)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_2)
            <br />
            @Html.RadioButton(item.java_ans, item.java_opt_3)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_3)
            <br />
            @Html.RadioButton(item.java_ans, item.java_opt_4)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_4)
            <br />
            @Html.RadioButton(item.java_ans, "Not Attempted", new { @style = "visibility:hidden", @checked = "checked" })
            <br />


        </div>
    }
}
@if (true)
{
    foreach (var item in Model.Questions_csharp)
    {

        <div class="col-lg-10">

        <span><b>@(++count)</b></span><span>.</span>&nbsp;@Html.DisplayFor(modelItem => item.java_ques)
        <br /><br />

        @Html.RadioButton(item.java_ans, item.java_opt_1)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_1)
        <br />
        @Html.RadioButton(item.java_ans, item.java_opt_2)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_2)
        <br />
        @Html.RadioButton(item.java_ans, item.java_opt_3)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_3)
        <br />
        @Html.RadioButton(item.java_ans, item.java_opt_4)&nbsp;@Html.DisplayFor(modelItem => item.java_opt_4)
        <br />
        @Html.RadioButton(item.java_ans, "Not Attempted", new { @style = "visibility:hidden", @checked = "checked" })
        <br />


    </div>
}
}
